  @tailwind base;
  @tailwind components;
  @tailwind utilities;

.text-gradient{
  background: linear-gradient(90deg, #000, #00f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.image-container {
  position: relative;

}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, purple, transparent);
  mix-blend-mode: multiply;
  border-radius: 30px;
  z-index: 1;
}

.carousel-container {
  margin: 20px 0;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #a1bee0, #3658ef);
  padding: 20px;
  border-radius: 8px;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-content {
  text-align: center;
  margin-top: 16px;
}

.carousel-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-text {
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes resizeIn {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

.main-3D-Container {
  z-index: 10;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-item {
  scroll-snap-align: start;
  min-width: 300px;
  max-width: 500px;
  height: 400px;
  margin-right: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.slider-item:hover {
  transform: scale(1.05);
}

.slider-item img {
  object-fit: cover;
}

.slider-item h2 {
  color: #fff;
}

.slider-item p {
  color: #fff;
}

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 0;
  flex: 0 0 70%;
  padding: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
}

.image {

}

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    html, body {
      @apply m-0 p-0 h-full;
    }
  }

  @layer components {
    footer {
      @apply w-full;
      @apply m-0 p-0;
    }
  }

  body {
    overflow-x: hidden;
  }
  

  